.App {
  text-align: center;
  padding: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



html {
  background-color: antiquewhite;
}

button {
  padding: 8px;
}

.container {
  padding: 40px;
  margin-top: 200px;
  min-height: 200px;
}

.item {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0,0,0,0.2) 0px 8px;
}